<!DOCTYPE html>
<html>
	<head>
		<title>Faculdade Impacta</title>
		<link rel="stylesheet" href="site.css" />
		<script src="scripts/script.js" ></script>
	<head>
	<body>
		<header>
			<img src="Marx.jpg" width="250px" />
			<div class="título" >
			<h1>Faculdade Impacta de Tecnologia</h1>
			<h2>A TECNOLOGIA MUDA O SEU FUTURO</h2>
			</div>
			<nav>
				<ul class="sem-bullets" >
					<li><a href="cursos.html" class="link" >Cursos</a></li>
					<li><a href="entrar.html" class="link" >Entrar</a></li>
				</ul>
			</nav>
		</header>
		<main>
		<h1>{{ titulo }}</h1>
		
		<h2>Conheça nossos Cursos</h2>
		
<p>Considerada uma das melhores faculdades com foco em 
tecologia do País, a <strong>Faculdade Impacta</strong> 
oferece cursos de <em>Graduação</em>, 
<em>Pós-Graduação</em> e <em>MBA</em> e cursos técnicos.
<br />Conheça quais são as áreas de conhecimento que a Impacta 
aborda e saiba um pouco mais sobre cada curso.
</p>
</main>
<footer>
<strong>11 3254-8300 - Impacta 2020 - 
Todos os direitos reservados.</strong>
</footer>